@use '../abstracts/variables' as v;

.card {
    max-width: 300px;
    padding: 10px;  
    text-align: center;

    h3 {
        margin: 20px auto 0 auto;
    }

    img {
        width: 100%;
        border: 3px solid black;
    }

    img:hover {
        filter: grayscale(100%);
        transform: scale(1.05);
        transition: .2s transform ease-out;
    }

    .box {
        background-color: #e91063;
    }
}
